<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>Home page</title>

        <!--Font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" 
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" 
        crossorigin="anonymous"></script>

        <!--Semantic Ui-->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>


        <!-- -->
        <style>
            body{padding-top:80px;}
            h1, p, a{font-family:'Open Sans', sans-serif;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-shopping-cart">Home page</span></h1>
                <br>
                <p>Login</p>
                <p>If you don't have an account, sign up!</p>
                <br>
                <a href="/login" class="btn btn-default">
                    <span class="fa fa-user"></span>Login
                </a>
                <a href="/signup" class="btn btn-default">
                    <span class="fa fa-user"></span>Sign up
                </a>
                <br>
                <a href="/auth/facebook" class="btn btn-primary">
                    <span class="fa fa-facebook"></span> Login with Facebook
                </a>
            </div>
        </div>
    </body>
</html>