<!DOCTYPE html>
<html>
    <head charset="UTF-8">
        <title>Login success page</title>
    </head>
    <body>
        <h1>Login success</h1>
        <div><p>User Id : <%=userid%></p></div>
        <div><p>User Name : <%=username%></p></div>
        <br><br><a href="/login.html">Re login</a>
    </body>
</html>