<br>
<div class="page-header text-right">
    <% if(user){%>
    Welcome <a href="/profile"><%=user.name%></a>!
    <%}%>
</div>
<div class="row">            
    <aside class="col-md-3">
        <div style="text-align: center">
            <h4>Profile</h4>
            <br>
            <img src="/images/profile.jpg" height="150em">
            <div>
                <p><h5>Younsung Jung</h5></p>
                <p>Seneca College Student<br>(CPA)</p>
                <p><img src="/images/where.png"> Toronto, CA</p>
                <p>Hi, I'm a student born in South Korea and currently living in Toronto, CA.</p>
                <p>I'm studying programming at Seneca College.</p>
                <p>Linked In: <a href="https://www.linkedin.com/in/younsung-jung-b45404139/">Click Here</a></p>
                <p>Git Hub: <a href="https://github.com/musickiper">Click Here</a></p>
            </div>
        </div>
    </aside>
    <section class="main col-md-9">
        <article style="text-align: center">
            <hr>
            <h2>Introduction</h2>
            <br>
            <p>Hi, I'm a student born in South Korea and currently living in Toronto, CA.</p>
            <p>I'm studying programming at Seneca College.</p>
            <p>I'm taking the third semester at Seneca College as a Computer Porogramming and Analysis student.</p>
            <p>For one year at Seneca, I've learned the concept of C, C++, DB2, ORACLE DB, POSTGRE SQL, MONGODB ,LINUX, HTML/CSS, JAVASCRIPT, NODEJS and TCP/IP</p>
            <p>Furthermore, I'm studying JAVA and ANGULAR2 by myself.</p>
            <p>You can see what I've learned and What I've done by myself through this web site.</p>
            <p>You can also find my online resume here:<br><a href="https://github.com/musickiper/Younsung-s/blob/master/resume_YounsungJung.pdf">RESUME HERE</a></p>
            <hr>
            <h4>Skill Summary</h4>
            <br>
            <ul>
                <li>IDE / Tools: Eclipse, IntelliJ, Visual Studio Code, Visual Studio 2017, Vim, Notepad++, Android Studio</li>
                <li>Languages: C, C++, C#, Java, JavaScript (Node.js), HTML5, CSS3, Bootstrap</li>
                <li>Databases: IBM DB2, MySQL, Oracle SQL, MongoDB, PostgreSQL</li>
                <li>Strength in web applications using JavaScript, HTML5, and CSS3</li>
                <li>Strength in web server-side programming using node.js</li>
                <li>Strength in Object Oriented Programming language, especially C++</li>
                <li>Concrete understanding of Network OSI Model, TCP/IP, and IP addressing</li>
                <li>Strong MS Office skills - Word, Outlook, Excel and PowerPoint</li>
            </ul>
            <hr>
            <h4>Education</h4>
            <p>Computer Programming and Analysis (Optional Co-op)   Jan 2017 - Present<br>Seneca College, North York, ON</p>
            <hr>
            <h4>Projects</h4>
            <ul>
                <li>Produced ‘Grocery Store Inventory System’, a simple inventory program, using C, which can keep track of items available in the inventory and make sure the quantity of the items does not fall below a specific count.
                <li>Created ‘Aid Management Console Application’, using C++, which is be able to keep track of the quantity of items needed, the quantity on hand, and store them in a file for future use.</li>
                <li>Created a simple website using HTML5, Bootstrap, Node.js/express.js and PostgreSQL.</li>
                <li>Created a private portfolio website using HTML5, Bootstrap, Node.js/express.js, MongoDB/mongoose, Angular.</li>
            </ul>
            <hr>
        </article>
    </section>
</div>