<br>
<hr>
<div class="row">            
    <aside class="col-md-3">
        <div style="text-align: center">
            <h4>Profile</h4>
            <br>
            <img src="/images/profile.jpg" height="150em">
            <div>
                <p><h5>James Jung</h5></p>
                <p>Seneca College Graduate<br>(CPD)</p>
                <p><img src="/images/where.png" height="40em"> Toronto, CA</p>
                <p>Hi, I'm an entry level developer and currently living in Toronto, CA.</p>
                <p>I'm actively looking for an entry level developer position.</p>
                <p>Linked In: <a target="_blank" href="https://www.linkedin.com/in/james-jung-b45404139/">Click Here</a></p>
                <p>Git Hub: <a target="_blank" href="https://github.com/musickiper">Click Here</a></p>
            </div>
        </div>
    </aside>
    <section class="main col-md-9">
        <article style="text-align: center">
            <hr>
            <h2>Introduction</h2>
            <br>
            <p>Hi, I'm an entry level developer and currently living in Toronto, CA.</p>
            <p>I studied programming at Seneca College.</p>
            <p>Through the school curriculum, I studied various programming languages, tools and concepts. Especially JavaScript Full Stack using React and Express</p>
            <p>I'm also studying C# and ASP.NET by myself.</p>
            <p>You can see what I've learned and What I've done by myself through this web site, and my github account.</p>
            <p>You can also find my online resume here:<br><a target="_blank" href="https://github.com/musickiper/Younsung-s/blob/master/resume_JamesJung.pdf">RESUME HERE</a></p>
            <hr>
            <h4>Skill Summary</h4>
            <br>
            <ul>
                <li>IDE / Tools: Visual Studio Code, Visual Studio, Eclipse, IntelliJ, Vim, Android Studio, Vim, MS office, VMWare (Linux), Git, GitHub, Slack</li>
                <li>Languages: HTML5, CSS(SASS), Bootstrap, JavaScript:ES6, jQuery, Node.js, Express, Angular, React, Redux, Python, Django, C, C++, Java, C#, ASP.NET, LINQ, Entity, Razer, Batch, Bash</li>
                <li>Databases: IBM DB2, MySQL, Oracle SQL, MongoDB, PostgreSQL</li>
                <li>Strength in web applications using JavaScript, HTML5, and CSS3</li>
                <li>Strength in web server-side programming using node.js</li>
                <li>Strength in Object Oriented Programming language, especially C++</li>
                <li>Concrete understanding of Network OSI Model, TCP/IP, and IP addressing</li>
                <li>Strong MS Office skills - Word, Outlook, Excel and PowerPoint</li>
            </ul>
            <hr>
            <h4>Education</h4>
            <p>Computer Programmer   Jan 2017 - Dec 2018<br>Seneca College, North York, ON</p>
            <ul>
                <li>President’s Honour List (3rd semester)</li>
            </ul>
            <hr>
            <h4>Projects</h4>
            <br>
            <ul>
                <li>
                    <strong>Personal Website</strong><br>
                    <strong>Environment: Visual Studio Code for Windows, Heroku, GitHub</strong><br>
                    <ul>
                        <li>Deployed using Heroku cloud PaaS, and MongoDB is used for storing data</li>
                        <li>Implemented Sign in/out, Bulletin Board with comments and Contact Me</li>
                        <li>Implemented a server using node.js runtime and express.js framework</li>
                        <li>Dynamic web pages designed using bootstrap and EJS view engine</li>
                        <li>MongoDB is used for storing data</li>
                        <li>Through this project, I mastered making website using node.js server and how to use NOSQL database system.</li>
                    </ul>
                </li>
            </ul>
            <br>
            <ul>
                <li>
                    <strong>Database Design and Implements</strong><br>
                    <strong>Environment: IBM iSeries Access, Visio</strong><br>
                    <ul>
                        <li>Created Normalization Form and Entity Relational Diagram about some real scenario</li>
                        <li>Figured out the concept of DB2 and created a simple database system</li>
                        <li>Attained proficiency in SQL statements</li>
                        <li>Through this project, I understood the concept of Database, and how to manage it well.</li>
                    </ul>
                </li>
            </ul>
            <br>
            <ul>
                <li>
                    <strong>Simple Data Entry Application</strong><br>
                    <strong>Environment: MS Visual Studio, Vim</strong><br>
                    <ul>
                        <li>Created a simple inventory management system called “Grocery Store Inventory System” using C and C++</li>
                        <li>Allowed the customers to enter, edit, save and delete the data they want</li>
                        <li>Through this school project, I absolutely understood the concept of OOP programming.</li>
                    </ul>
                </li>
            </ul>
            <hr>
        </article>
    </section>
</div>