<br>
<hr>
<div class="page-header text-center">
    <h3><span class="fa fa-anchor"></span>User Profile</h3>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="#" class="btn btn-default btn-sm">Change Password</a>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <br>
            <p>
                <strong>Name</strong> : <%=user.name%><br><br>
                <strong>Email</strong> : <%=user.email%>
            </p>
            <br>
        </div>
    </div>
</div>
<br>
