<br>
<hr>
<div class="row">
<div class="ui blue fluid card">
    <div class="content">
        <%
            var curTitle = posts._doc.title;
            var curContents = posts._doc.contents;
            var curWriter = posts._doc.writer.id;

            var entities = new Entities();
            var decodedContents = entities.decode(curContents);
        %>

        <div id="titleOutput" class="header"><h2><%=curTitle%></h2></div>
        <div class="meta">
            <br>
            <span class="right floated time">1 day ago</span>
            <span class="category">Regular Post</span>
        </div>
        <textarea class="description" id="contentsOutput" name="contentsOutput" rows="10" cols="80" readonly>
            <%=decodedContents%>
        </textarea>
    </div>
</div>
</div>